<div id="menu-aside"  style="height: 1000px; min-width: 140px">
  <ul class="nav nav-pills  nav-stacked">
    <li class="margin-top-1 margin-bottom-1 active second-tab" routerLink="/home/inform">
      <a style="font-size: 16px" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <span class="col-md-offset-1 glyphicon glyphicon-home col-md-offset-1"> 首页</span>
      </a>
      <div id="collapseOne" class="panel-collapse collapse in">
      </div>
    </li>
    <li class="" >
      <a style="font-size: 16px" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <span class="col-md-offset-1 glyphicon glyphicon-th-large col-md-offset-1"> 功能</span>
      </a>
      <div id="collapseTwo" class="panel-collapse collapse in">
        <ul class="nav panel-body  text-center no-padding">
          <li class="second-tab">
            <a href="" routerLink="/home/application-list">应用管理</a>
          </li>
          <li class="second-tab">
            <a href="" routerLink="/home/school-list">学校管理</a>
          </li>
          <li class="second-tab">
            <a href="" routerLink="/home/user-manager">用户管理</a>
          </li>
          <li class="second-tab">
            <a href="" routerLink="/home/user-details">个人中心</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a style="font-size: 16px" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <span class="col-md-offset-1 glyphicon glyphicon-th-large col-md-offset-1"> 系统管理</span>
      </a>
      <div id="collapseThree" class="panel-collapse collapse in">
        <ul class="nav panel-body  text-center no-padding">
          <li class="second-tab">
            <a href="" routerLink="/home/role-manager">角色管理</a>
          </li>
          <li class="second-tab">
            <a href="" routerLink="/home/urisdiction">权限设置</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
